/* RESET */
* {
    margin: 0;
    box-sizing: border-box;
}       

/* HEADER */
header {
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    background-size: 25%;
}

header img {
    width: 200px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 10px;
}

/* COMMON */
.container {
    width: 99%;
    margin: auto;
    
}

/* MAIN */
main h1 {
    margin-top: 20px;
    font-size: 50px;
}

.author {
    color: #848484;
    font-size: 18px;
}

#booleaner {
    color: #56beeb;
    font-size: 18px;
}

.date {
    color: gray;
    font-size: 12px;
    margin-bottom: 20px;
}

.description {
    font-size: 12px;
    margin-bottom: 20px;
}

.evidence {
    background-color: yellow;
}

.list {
    margin-bottom: 30px;
    margin-top: 30px;
}

thead {
    background-color: #20a9e5;
    color: white;
}

.row{
    background-color: #b1e5f2;
}
table {
    margin-bottom: 20px;
    border-collapse: collapse;
}

/* FOOTER */
footer{
    margin-top: 20px;
}

#final {
    font-size: 20px;
    color: #848484;
}

.monitor {
    background-image: url("../img/monitor.jpg");
    background-repeat: no-repeat;
    background-size: 200px;
}

.graph {
    background-image: url("../img/graph.jpg");
    background-repeat: no-repeat;
}